
.bord{
  height: 400px;
  border: 5px solid red;

}
.borde{
  height: 430px;
  border: 5px solid green;

}

.bla{
  height: 200px;
  border: 5px solid rgb(0, 51, 128);

}

.bli{
  height: 200px;
  border: 5px solid rgb(128, 0, 90);

}